.elementor-kit-23 {
  --e-global-color-secondary: #232323;
  --e-global-color-primary: #828282;
  --e-global-color-text: #ffffff;
  --e-global-color-accent: #ffffff2b;
  --e-global-color-d49ac81: #2d2c2b;
  --e-global-color-332724a: #00af6b;
  --e-global-color-4d462f5: #dcdde8;
  --e-global-color-cfa1f76: #f7f7f7;
  --e-global-color-7fbea4f: #f5f5f7;
  --e-global-color-c94d9ab: #2d2c2b;
  --e-global-color-044b931: #232323;
  --e-global-color-638d055: #141414;
  --e-global-color-ec3c7a7: #00af6b;
  --e-global-color-3ee16e7: #06af47;
  --e-global-color-4a928a8: #ffc700;
  --e-global-typography-primary-font-family: "Space Grotesk";
  --e-global-typography-primary-font-size: 48px;
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-primary-line-height: 1.2em;
  --e-global-typography-primary-letter-spacing: -2px;
  --e-global-typography-secondary-font-family: "Space Grotesk";
  --e-global-typography-secondary-font-size: 39px;
  --e-global-typography-secondary-font-weight: 600;
  --e-global-typography-secondary-line-height: 1.2em;
  --e-global-typography-secondary-letter-spacing: -1px;
  --e-global-typography-text-font-family: "Inter";
  --e-global-typography-text-font-size: 16px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-line-height: 1.4em;
  --e-global-typography-accent-font-family: "Space Grotesk";
  --e-global-typography-accent-font-size: 14px;
  --e-global-typography-accent-font-weight: 600;
  --e-global-typography-accent-text-transform: uppercase;
  --e-global-typography-accent-line-height: 1em;
  --e-global-typography-b2ce6af-font-family: "Inter";
  --e-global-typography-b2ce6af-font-size: 16px;
  --e-global-typography-b2ce6af-font-weight: 400;
  --e-global-typography-b2ce6af-text-transform: none;
  --e-global-typography-b2ce6af-font-style: normal;
  --e-global-typography-b2ce6af-line-height: 1.4em;
  --e-global-typography-69c152f-font-family: "Inter";
  --e-global-typography-69c152f-font-size: 14px;
  --e-global-typography-69c152f-font-weight: 400;
  --e-global-typography-69c152f-line-height: 1.4em;
  --e-global-typography-520c191-font-family: "Space Grotesk";
  --e-global-typography-520c191-font-size: 16px;
  --e-global-typography-520c191-font-weight: 600;
  --e-global-typography-520c191-line-height: 1.5em;
  --e-global-typography-583e54c-font-family: "Space Grotesk";
  --e-global-typography-583e54c-font-size: 48px;
  --e-global-typography-583e54c-font-weight: 600;
  --e-global-typography-583e54c-line-height: 1.2em;
  --e-global-typography-583e54c-letter-spacing: -2px;
  --e-global-typography-5d167aa-font-family: "Space Grotesk";
  --e-global-typography-5d167aa-font-size: 39px;
  --e-global-typography-5d167aa-font-weight: 600;
  --e-global-typography-5d167aa-line-height: 1.2em;
  --e-global-typography-5d167aa-letter-spacing: -1px;
  --e-global-typography-d3dae9a-font-family: "Space Grotesk";
  --e-global-typography-d3dae9a-font-size: 31px;
  --e-global-typography-d3dae9a-font-weight: 600;
  --e-global-typography-d3dae9a-font-style: normal;
  --e-global-typography-d3dae9a-line-height: 1.3em;
  --e-global-typography-83682a1-font-family: "Space Grotesk";
  --e-global-typography-83682a1-font-size: 25px;
  --e-global-typography-83682a1-font-weight: 500;
  --e-global-typography-83682a1-text-transform: none;
  --e-global-typography-83682a1-font-style: normal;
  --e-global-typography-83682a1-line-height: 1.3em;
  --e-global-typography-7044a64-font-family: "Space Grotesk";
  --e-global-typography-7044a64-font-size: 20px;
  --e-global-typography-7044a64-font-weight: 600;
  --e-global-typography-7044a64-line-height: 1.4em;
  --e-global-typography-84ca66e-font-family: "Space Grotesk";
  --e-global-typography-84ca66e-font-size: 16px;
  --e-global-typography-84ca66e-font-weight: 600;
  --e-global-typography-84ca66e-text-transform: uppercase;
  --e-global-typography-112b6c4-font-family: "DM Sans";
  --e-global-typography-112b6c4-font-size: 13px;
  --e-global-typography-112b6c4-line-height: 1.5em;
  --e-global-typography-a435f28-font-family: "Space Grotesk";
  --e-global-typography-a435f28-font-size: 61px;
  --e-global-typography-a435f28-font-weight: 600;
  --e-global-typography-a435f28-line-height: 1.2em;
  --e-global-typography-a435f28-letter-spacing: -2px;
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
  font-size: var(--e-global-typography-b2ce6af-font-size);
  font-weight: var(--e-global-typography-b2ce6af-font-weight);
  text-transform: var(--e-global-typography-b2ce6af-text-transform);
  font-style: var(--e-global-typography-b2ce6af-font-style);
  line-height: var(--e-global-typography-b2ce6af-line-height);
}
.elementor-kit-23 button,
.elementor-kit-23 input[type="button"],
.elementor-kit-23 input[type="submit"],
.elementor-kit-23 .elementor-button {
  background-color: var(--e-global-color-d49ac81);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  line-height: var(--e-global-typography-accent-line-height);
  color: var(--e-global-color-text);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-d49ac81);
  border-radius: 0px 0px 0px 0px;
}
.elementor-kit-23 button:hover,
.elementor-kit-23 button:focus,
.elementor-kit-23 input[type="button"]:hover,
.elementor-kit-23 input[type="button"]:focus,
.elementor-kit-23 input[type="submit"]:hover,
.elementor-kit-23 input[type="submit"]:focus,
.elementor-kit-23 .elementor-button:hover,
.elementor-kit-23 .elementor-button:focus {
  background-color: var(--e-global-color-332724a);
  color: var(--e-global-color-text);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-332724a);
}
.elementor-kit-23 e-page-transition {
  background-color: #ffbc7d;
}
.elementor-kit-23 a {
  color: var(--e-global-color-primary);
}
.elementor-kit-23 a:hover {
  color: var(--e-global-color-332724a);
}
.elementor-kit-23 h1 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-583e54c-font-family), Sans-serif;
  font-size: var(--e-global-typography-583e54c-font-size);
  font-weight: var(--e-global-typography-583e54c-font-weight);
  line-height: var(--e-global-typography-583e54c-line-height);
  letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
}
.elementor-kit-23 h2 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-5d167aa-font-family), Sans-serif;
  font-size: var(--e-global-typography-5d167aa-font-size);
  font-weight: var(--e-global-typography-5d167aa-font-weight);
  line-height: var(--e-global-typography-5d167aa-line-height);
  letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
}
.elementor-kit-23 h3 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-d3dae9a-font-family), Sans-serif;
  font-size: var(--e-global-typography-d3dae9a-font-size);
  font-weight: var(--e-global-typography-d3dae9a-font-weight);
  font-style: var(--e-global-typography-d3dae9a-font-style);
  line-height: var(--e-global-typography-d3dae9a-line-height);
}
.elementor-kit-23 h4 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
  font-size: var(--e-global-typography-83682a1-font-size);
  font-weight: var(--e-global-typography-83682a1-font-weight);
  text-transform: var(--e-global-typography-83682a1-text-transform);
  font-style: var(--e-global-typography-83682a1-font-style);
  line-height: var(--e-global-typography-83682a1-line-height);
}
.elementor-kit-23 h5 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
  font-size: var(--e-global-typography-7044a64-font-size);
  font-weight: var(--e-global-typography-7044a64-font-weight);
  line-height: var(--e-global-typography-7044a64-line-height);
}
.elementor-kit-23 h6 {
  color: var(--e-global-color-ec3c7a7);
  font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
  font-size: var(--e-global-typography-84ca66e-font-size);
  font-weight: var(--e-global-typography-84ca66e-font-weight);
  text-transform: var(--e-global-typography-84ca66e-text-transform);
  line-height: var(--e-global-typography-84ca66e-line-height);
}
.elementor-kit-23 label {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
  font-size: var(--e-global-typography-520c191-font-size);
  font-weight: var(--e-global-typography-520c191-font-weight);
  line-height: var(--e-global-typography-520c191-line-height);
}
.elementor-kit-23 input:not([type="button"]):not([type="submit"]),
.elementor-kit-23 textarea,
.elementor-kit-23 .elementor-field-textual {
  font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
  font-size: var(--e-global-typography-b2ce6af-font-size);
  font-weight: var(--e-global-typography-b2ce6af-font-weight);
  text-transform: var(--e-global-typography-b2ce6af-text-transform);
  font-style: var(--e-global-typography-b2ce6af-font-style);
  line-height: var(--e-global-typography-b2ce6af-line-height);
  color: var(--e-global-color-secondary);
  background-color: var(--e-global-color-7fbea4f);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-7fbea4f);
  border-radius: 0px 0px 0px 0px;
}
.elementor-kit-23 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-23 textarea:focus,
.elementor-kit-23 .elementor-field-textual:focus {
  color: var(--e-global-color-primary);
  background-color: var(--e-global-color-text);
  box-shadow: 0px 0px 0px 5px
    rgba(14.000000000000007, 179.00000000000009, 227, 0.1);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-332724a);
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1280px;
}
.e-con {
  --container-max-width: 1280px;
}
.elementor-widget:not(:last-child) {
  --kit-widget-spacing: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
  --widgets-spacing-row: 20px;
  --widgets-spacing-column: 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 1024px) {
  .elementor-kit-23 {
    --e-global-typography-primary-font-size: 37px;
    --e-global-typography-secondary-font-size: 31px;
    --e-global-typography-text-font-size: 15px;
    --e-global-typography-accent-font-size: 13px;
    --e-global-typography-b2ce6af-font-size: 15px;
    --e-global-typography-69c152f-font-size: 13px;
    --e-global-typography-520c191-font-size: 15px;
    --e-global-typography-583e54c-font-size: 37px;
    --e-global-typography-5d167aa-font-size: 31px;
    --e-global-typography-d3dae9a-font-size: 25px;
    --e-global-typography-83682a1-font-size: 21px;
    --e-global-typography-7044a64-font-size: 18px;
    --e-global-typography-84ca66e-font-size: 15px;
    --e-global-typography-112b6c4-font-size: 12px;
    --e-global-typography-a435f28-font-size: 44px;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
  }
  .elementor-kit-23 h1 {
    font-size: var(--e-global-typography-583e54c-font-size);
    line-height: var(--e-global-typography-583e54c-line-height);
    letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
  }
  .elementor-kit-23 h2 {
    font-size: var(--e-global-typography-5d167aa-font-size);
    line-height: var(--e-global-typography-5d167aa-line-height);
    letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
  }
  .elementor-kit-23 h3 {
    font-size: var(--e-global-typography-d3dae9a-font-size);
    line-height: var(--e-global-typography-d3dae9a-line-height);
  }
  .elementor-kit-23 h4 {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
  }
  .elementor-kit-23 h5 {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
  }
  .elementor-kit-23 h6 {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
  }
  .elementor-kit-23 button,
  .elementor-kit-23 input[type="button"],
  .elementor-kit-23 input[type="submit"],
  .elementor-kit-23 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-kit-23 label {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
  }
  .elementor-kit-23 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-23 textarea,
  .elementor-kit-23 .elementor-field-textual {
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-23 {
    --e-global-typography-primary-font-size: 30px;
    --e-global-typography-secondary-font-size: 24px;
    --e-global-typography-text-font-size: 14px;
    --e-global-typography-accent-font-size: 12px;
    --e-global-typography-b2ce6af-font-size: 14px;
    --e-global-typography-69c152f-font-size: 12px;
    --e-global-typography-520c191-font-size: 14px;
    --e-global-typography-583e54c-font-size: 30px;
    --e-global-typography-5d167aa-font-size: 24px;
    --e-global-typography-d3dae9a-font-size: 20px;
    --e-global-typography-83682a1-font-size: 18px;
    --e-global-typography-7044a64-font-size: 16px;
    --e-global-typography-84ca66e-font-size: 14px;
    --e-global-typography-112b6c4-font-size: 11px;
    --e-global-typography-a435f28-font-size: 32px;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
  }
  .elementor-kit-23 h1 {
    font-size: var(--e-global-typography-583e54c-font-size);
    line-height: var(--e-global-typography-583e54c-line-height);
    letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
  }
  .elementor-kit-23 h2 {
    font-size: var(--e-global-typography-5d167aa-font-size);
    line-height: var(--e-global-typography-5d167aa-line-height);
    letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
  }
  .elementor-kit-23 h3 {
    font-size: var(--e-global-typography-d3dae9a-font-size);
    line-height: var(--e-global-typography-d3dae9a-line-height);
  }
  .elementor-kit-23 h4 {
    font-size: var(--e-global-typography-83682a1-font-size);
    line-height: var(--e-global-typography-83682a1-line-height);
  }
  .elementor-kit-23 h5 {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
  }
  .elementor-kit-23 h6 {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
  }
  .elementor-kit-23 button,
  .elementor-kit-23 input[type="button"],
  .elementor-kit-23 input[type="submit"],
  .elementor-kit-23 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-kit-23 label {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
  }
  .elementor-kit-23 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-23 textarea,
  .elementor-kit-23 .elementor-field-textual {
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
